.heading
{
	width: 640px;
	height: 65px;
	background: #000;
}

#bottom-nav
{
	width: 640px;
	height: 65px;
	background: #000;
	margin: 0 auto;
}
#title
{
	margin: 0 auto;
	height: 65px;
}
h1
{
	color: #f2f2f2;
	margin: 0px 108px 5px 228px;
	font-size: 31px;
}

a
{
	font-size: 15px;
	color: #f2f2f2;
}


#content
{
	width: 640px;
	height: 400px;
	background: #f2f2f2;
	margin: 0 auto;
	background-image:url("bg.jpg");

}
#content-studio
{
	width: 640px;
	height: 400px;
	background: #f2f2f2;
	margin: 0 auto;
	background-image:url("studiobg1.jpg");

}


 #content-piano
{
	width: 640px;
	height: auto;
	background: #f2f2f2;
	margin: 0 auto;

}


.searchbox
{
	width: 330px;
	height: 100px;
	margin-left: 168px;
	margin-top: 25px;
}
.searchbox2
{
	width: 330px;
	height: 100px;
	margin-left: 136px;
	margin-top: 25px;
}

#guitar-button
{
	border-radius: 2px;
	background: #82b64b;
	margin-left: 249px;

}

#piano-button, #search-button
{
	border-radius: 2px;
	background: #4A84FF;

}

#chords-button
{
	background: #534D4D;
	margin-left: 118px;
	margin-top: 10px;
}

#studio-button
{
	background: #534D4D;
	margin-left: 95px;
	margin-top: 10px;
}

#location-button
{
	border-radius: 2px;
	background: #82b64b;
	margin-left: 173px;

}

input[type="text"],
input[type="text2"],
textarea{
	border-radius: 29px;
}



#content-piano, #content-guitar, #content-studio
{
	display: none;
}


/*MOBILE CSS*/


@media screen and (max-width: 500px){
	#trending-web {
		display: none!important;
	}

	#trending-mobile {
		display: block!important;
	}

}

img
{
	margin: 5px 5px 5px 89px;
}
h3
{
	font-size: 25px;
}
h4
{
	font-size: 15px;
}



